<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File copy progress</title>
</head>
<body>

<p>File copy progress</p>
<p>
    {{ processed_files }}/{{ total_files }}
</p>
<p>Press F5 to update status</p>
<p><a href="{% url 'form' %}">Upload new file</a></p>
</body>
</html>